.aboutMeText {
  display: flex;
  margin-right: 50%;
  margin-top: 80px;
  height: 45rem;
  color: #eff6e0;
  font-family: "Poppins";
  font-size: 23px;
}
.aboutMeContainer {
  border: solid 0.7px;
  height: 70rem;
}

@media screen and (max-width: 768px) {
  .aboutMeContainer {
    height: 70rem;
  }
  .aboutMeText {
    height: 70rem;
    margin-right: 0;
    font-size: 20px;
  }
}
