.experiencePageContainer {
  margin-top: 20px;
  color: #eff6e0;
  font-family: "Poppins";
  font-size: 23px;
  border: solid 0.5px black;
  /* border: solid 0.5px #eff6e0; */
}
.skillsContainer {
  margin-right: 50%;
  margin-top: 70px;
  height: 18rem;
}

/* EDUCATION CONTAINER */
.educationContainer {
  margin-top: 10px;
  margin-left: 50%;
}

.educationList {
  width: auto;
}
.listItem {
  display: flex;
  justify-content: left;
  font-size: 16px;
}
.EduTitle {
  font-size: 24px;
}
.EduDescrip {
  margin-left: 10%;
  font-size: 22px;
}

/* RESUME CARD STYLING */
.resumeCardContainer {
  height: 20rem;
}
.resumeCard {
  border: solid 0.5px black;
  margin-top: 1rem;
  width: 14rem;
  height: 17rem;
  margin-right: 50%;
  opacity: 0.9;
  filter: drop-shadow(0 0 1.5em #aec3b0);
  display: inline-block;
  transition: transform 0.5s ease;
  background: linear-gradient(to bottom, #aec3b0, #eff6e0);
  font-family: "Poppins";
  font-size: 25px;
  color: #606c38;
}
.resumeImage {
  margin-top: 15px;
  height: 10rem;
}
.animateCard {
  animation-duration: 4s;
  animation-name: animate-card;
}

.cardTitle {
  margin-top: -10px;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke: 2.2px #606c38;
  color: #eff6e0;
}
.resumeCard:hover {
  width: 14.5rem;
  height: 17.5rem;
  opacity: 1;
  cursor: pointer;
  filter: drop-shadow(0 0 2em #aec3b0);
  font-size: 26px;
}
.resumeCard:hover .resumeImage {
  height: 10.5rem;
}

@keyframes animate-card {
  5% {
    transform: scale(1) rotate(10deg);
  }
  10% {
    transform: scale(1) rotate(-15deg);
  }
  15% {
    transform: scale(1) rotate(5deg);
  }
  20% {
    transform: scale(1) rotate(-10deg);
  }
  25% {
    transform: scale(1) rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  .experiencePageContainer {
    margin-top: 10px;
    font-size: 16px;
  }
  .skillsContainer {
    height: 19rem;
    margin-right: 0;
    margin-top: 45px;
  }
  .educationContainer {
    margin-top: 0;
    margin-left: 0;
    height: 11rem;
  }
  .experienceTextContainer {
    margin-top: 45px;
    height: 40rem;
  }
  .educationList {
    width: auto;
  }
  .listItem {
    display: flex;
    justify-content: left;
    font-size: 16px;
  }
  .EduTitle {
    font-size: 17px;
  }
  .EduDescrip {
    margin-left: 10%;
  }

  /* RESUME CARD STYLING */
  .resumeCardContainer {
    height: 14rem;
  }
  .resumeCard {
    width: 10rem;
    height: 12rem;
    margin: auto;
    margin-top: 10px;
  }
  .cardTitle {
    margin-top: -20px;
    margin-left: -25px;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 2px #606c38;
    color: #eff6e0;
    width: 10rem;
  }
  .resumeImage {
    margin-top: 10px;
    height: 7rem;
  }
  .resumeCard:hover {
    width: 10.5rem;
    height: 12.3rem;
    font-size: 31px;
    font-weight: bold;
  }
  .resumeCard:hover .resumeImage {
    height: 6rem;
  }
}
