.experiencePageContainer {
  margin-top: 20px;
  height: 58rem;
  display: flex;
  justify-content: center;
  color: #eff6e0;
  font-family: "Poppins";
  font-size: 20px;
  border: solid 0.2px;
}
.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 45rem;
}
.educationContainer {
  margin-top: 80px;
  height: 45rem;
  width: 200rem;
}
.resumeCard {
  margin-top: 15rem;
  width: 14rem;
  height: 17rem;
  margin-left: 8rem;
  opacity: 0.8;
  border: solid 2px red;
}
.resumeImage {
  height: 10rem;
}

.resumeCard:hover {
  width: 14.5rem;
  height: 17.5rem;
  opacity: 0.7;
  cursor: pointer;
  filter: drop-shadow(0 0 3em #aec3b0);
}
.skillsText {
  margin-top: -20rem;
}
.educationText {
  margin-top: 40px;
}
