.experiencePageContainer {
  margin-top: 20px;
  height: 58rem;
  display: flex;
  justify-content: center;
  color: #eff6e0;
  font-family: "Poppins";
  font-size: 20px;
  border: solid 0.2px;
}
.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 45rem;
}
.educationContainer {
  margin-top: 80px;
  height: 45rem;
  width: 200rem;
}
.resumeCard {
  margin-top: 15rem;
  width: 14rem;
  height: 17rem;
  margin-left: 8rem;
  opacity: 0.9;
  filter: drop-shadow(0 0 1.5em #aec3b0);
  display: inline-block;
}
.resumeImage {
  height: 10rem;
}

.resumeCard:hover {
  width: 14.5rem;
  height: 17.5rem;
  opacity: 1;
  cursor: pointer;
  filter: drop-shadow(0 0 2em #aec3b0);
}
.skillsText {
  margin-top: -20rem;
}
.educationText {
  margin-top: 40px;
}

.animateCard {
  animation-duration: 5s;
  animation-name: animate-card;
}

@keyframes animate-card {
  5% {
    transform: scale(1) rotate(10deg);
  }
  10% {
    transform: scale(1) rotate(-15deg);
  }
  15% {
    transform: scale(1) rotate(5deg);
  }
  20% {
    transform: scale(1) rotate(-10deg);
  }
  25% {
    transform: scale(1) rotate(0deg);
  }
}
