.textChangeContainer {
  height: 15rem;
  color: #eff6e0;
  font-family: "Poppins";
  margin-top: 50px;
}

.text1 {
  display: flex;
  margin-right: 50%;
  font-size: 55px;
}
.textChange {
  display: flex;
  justify-content: left;
  margin-right: 30%;
  font-size: 55px;
  transition: opacity 0.5s ease;
}
.myPhoto {
  width: 20rem;
  display: flex;
  justify-content: center;
  margin-left: 70%;
  margin-top: -13.5rem;
}
.introText {
  margin-right: 50%;
  display: flex;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .textChangeContainer {
    height: 32rem;
    margin-top: 15px;
  }
  .text1 {
    width: 100%;
    justify-content: center;
    font-size: 40px;
  }
  .textChange {
    width: 100%;
    justify-content: center;
    font-size: 40px;
    height: 8rem;
  }
  .introText {
    width: 100%;
    justify-content: center;
    font-size: 24px;
  }
  .myPhoto {
    margin-top: 10px;
    margin-left: 0;
    height: 16rem;
  }
}
