.textChangeContainer {
  height: 15rem;
  color: #eff6e0;
  font-family: "Poppins";
  margin-top: 50px;
}

.text1 {
  display: flex;
  margin-right: 50%;
  font-size: 55px;
}
.textChange {
  display: flex;
  margin-right: 40%;
  font-size: 55px;
  transition: opacity 0.5s ease;
}
.myPhoto {
  display: flex;
  justify-content: center;
  margin-left: 50%;
  margin-top: -12rem;
}
.introText {
  margin-right: 50%;
  display: flex;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .textChangeContainer {
    height: 28rem;
    font-size: 16px;
  }
  .text1 {
    width: 100%;
    justify-content: center;
    font-size: 40px;
  }
  .textChange {
    width: 100%;
    justify-content: center;
    font-size: 45px;
  }
  .introText {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    font-size: 22px;
  }
  .myPhoto {
    margin-top: 2.5rem;
    margin-left: 0;
  }
}
