.topBar {
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: -32px;
  z-index: 9999;
  background-color: #aec3b0;
  border: solid 0.5px #eff6e0;
  color: #eff6e0;
  height: 5rem;
  width: 85%;
}
.linkContainer {
  display: flex;
  width: 30rem;
}
.indLinkContainer {
  margin-left: 0px;
  color: #eff6e0;
  opacity: 0.5;
  font-size: 30px;
  width: 50rem;
}
.indLinkContainer:hover {
  color: white;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .topBar {
    display: flex;
    justify-content: center;
    height: 3rem;
  }
  .indLinkContainer {
    font-size: 20px;
    width: 6rem;
    margin: 7px;
  }

  .linkContainer {
    width: 100%;
  }
}
