.topBar {
  display: flex;
  justify-content: right;
  position: fixed;
  margin-top: -32px;
  z-index: 9999;
  background-color: #aec3b0;
  border: solid 0.5px #eff6e0;
  color: #eff6e0;
  height: 5rem;
}
@media screen and (max-width: 768px) {
  .topBar {
    justify-content: center;
  }
  .indLinkContainer {
    font-size: 15px;
  }
}
.topBar:hover {
  color: white;
}
.linkContainer {
  display: flex;
  width: 30rem;
}
.indLinkContainer {
  margin-left: 0px;
  color: #eff6e0;
  opacity: 0.5;
  font-size: 30px;

  width: 50rem;
}
.indLinkContainer:hover {
  color: white;
  opacity: 1;
}
