.cardContainer {
  height: 22rem;
  display: flex;
  justify-content: center;
}

.projectPageContainer {
  margin-top: 20px;
  border: solid 0.7px;
  height: 40rem;

  /* border: solid green; */
}
.projectText {
  margin-top: 80px;
  height: 10rem;
  color: #eff6e0;
  font-family: "Poppins";
  font-size: 23px;
  /* border: solid blue; */
}

.cardImage {
  height: 8rem;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individualCard {
  border: solid red;
  justify-content: center;
  margin: 10px;
  background: linear-gradient(to bottom, #1b263b, #0d1b2a);
  font-family: "Poppins";
  font-size: 20px;
  color: #e0e1dd;
  border: solid #778da9;
  height: 20rem;
  width: 12rem;
}
.individualCard:hover {
  /* opacity: 0.7; */
  cursor: pointer;
  height: 21rem;
  filter: drop-shadow(0 0 1em #778da9);
}

.animateProject {
  animation-duration: 2.5s;
  animation-name: animate-project;
}

@keyframes animate-project {
  0% {
    transform: translateX(-180%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .projectPageContainer {
    height: 49rem;
  }

  .cardContainer {
    height: 32rem;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .individualCard {
    height: 15rem;
    width: 10rem;
    font-size: 15px;
    margin: 10px;
  }

  .individualCard:hover {
    height: 15.5rem;
  }
}
